/* file start: /home/vagrant/Code/kidsit/resources/assets/less/base/vars.less*/
//Colors
@primary-color: #1abc9c; 
@primary-background: purple; 
@secondary-color: #85d6de;
@secondary-background: #85d6de;
@highlight-color: #fed37f;
@warning-color:#fed37f;
@danger-color:#fe8f8c;
@null-color:#fff;
@loading-background: rgba(100,200,300,0.5);
@special-color: #ff6163;
@special-second-color: #a2dbeb;

//Fonts
@brand-font: 'Varela Round', sans-serif;
@regular-font: 'Open Sans', sans-serif;
@additional-font: 'Quicksand', sans-serif;

/* file end: /home/vagrant/Code/kidsit/resources/assets/less/base/vars.less*/
