
.icon--circle{
	.icon__item{
		background-color: @secondary-background;
		display: inline-block;
		width: 60px;
		height: 60px;
		padding-top: 19px;
		margin: 0 7px 5px;
		text-align: center;
		color: @null-color;
		.border-radius(50%);
	}
}